<div class="main">
    <div class="section section-basic">
      <div class="container">
        <div class="title">
          <h1>{{title}}</h1>
            <h3>A Badass Bootstrap 4 UI Kit based on Material Design.</h3>
        </div>
      </div>
    </div>        
</div>
<script>
  console.log(document.cookie)
</script>
    